@page
@model Dodaj_wpis
@using Pages;
@using ZwierzePlus.Model;

<h2 class="mt-4">Wpisy do książeczki zdrowia</h2>

    <div class = "row"> 
            <div class="col-md-6">
                 <form method="post" asp-page-handler="NowyWpis">
                    <div class="form-group mt-4">
                        <label asp-for="NowyWpis.tytul">Tytuł:</label>
                        <input asp-for="NowyWpis.tytul" class="form-control" />
                        <span asp-validation-for="NowyWpis.tytul" class="text-danger"></span>
                    </div>
                    <div class="form-group mt-4">
                        <label asp-for="NowyWpis.opis">Opis:</label>
                        <input asp-for="NowyWpis.opis" class="form-control" />
                        <span asp-validation-for="NowyWpis.opis" class="text-danger"></span>
                    </div>
                    <button on type="submit" class="btn btn-success mt-3">Dodaj wpis</button>
                 </form>
            </div>

        <div class="col-md-6">
            @if(Model.FetchedKsiazeczka != null)
            {
                <div>
                    <h5>Dane książeczki:</h5>
                    <p>Matka: @Model.FetchedKsiazeczka.matka</p>
                    <p>Ojciec: @Model.FetchedKsiazeczka.ojciec</p>
                    <p>Data dodania: @Model.FetchedKsiazeczka.data_zalozenia</p>
                </div>

                @foreach(Wpis wpis in Model.FetchedKsiazeczka.Wpis)
                {
                    <div style="border: solid; border-radius: 5px; padding: 10px; margin-top: 10px;">
                        <h5>@wpis.tytul</h5>
                        <p>@wpis.opis</p>
                    </div>
                }
            }
            else
            {
                <p>Ten zwierzak nie ma jeszcze książeczki</p>
            }
        </div>
    </div>

